{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
        <div class="d-flex justify-content-end mb-3">
            <a href="{% url 'criar_usuario' %}" class="btn btn-primary">
                + Criar Usuario
            </a>
        </div>
        
        <div class="col-md-14">
            <div class="card">
                <div class="card-header bg-info">
                    <h3 class="card-title">Lista de usuarios</h3>
                </div>
                <div class="card-body table-responsive p-0" style="max-height: 400px;">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>     
                                <th>Senha</th>
                                <th>Tipo_usuario</th>                    
                                <th>Setor</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for usuario in usuarios %}
                            <tr>
                                <td>{{ usuario.nome }}</td>
                                <td>{{ usuario.email }}</td>   
                                <td>{{ usuario.senha }}</td> 
                                <td>{{ usuario.tipo_usuario }}</td> 
                                <td>{{ usuario.setor }}</td> 
                                <td>
                                    <div class="d-flex justify-content-end gap-2">
                                        <a href="{% url 'ver_usuario' usuario.id %}" class="btn btn-info btn-sm">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <a href="{% url 'editar_usuario' usuario.id %}" class="btn btn-warning btn-sm">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        <a href="{% url 'deletar_usuario' usuario.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir?')">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>  
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">Nenhum usuario cadastrado.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
