{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
        <!-- Tabela de setoress -->
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info">
                    <h3 class="card-title">Lista de setores</h3>
                </div>
                <div class="card-body table-responsive p-0" style="max-height: 400px;">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Andar</th>                         
                            </tr>
                        </thead>
                        <tbody>
                            {% for setor in setors %}
                            <tr>
                                <td>{{ setor.nome }}</td>
                                <td>{{ setor.andar }}</td>                      
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">Nenhum setor cadastrado.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
